.thumbnail .caption-full{
    padding:9px;
}

#deleteForm{
    display: inline;
}

#facebookBtn{
    padding-top:10px;
    padding-left: 10%;
    text-align: center;
}

#LeftGoBackBtn{
    text-align: center;
}